Flask==1.0
Jinja2==2.11.3
MarkupSafe==0.23
Werkzeug==0.15.3
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
breadability==0.1.20
celery==5.2.2
chardet==2.3.0
docopt==0.6.2
feedparser==5.1.3
gensim==0.10.2
html2text==2014.9.25
httplib2==0.19.0
itsdangerous==0.24
kombu==3.0.24
lxml==4.6.5
matplotlib==1.4.2
mock==1.0.1
nltk==3.6.6
nose==1.3.4
numpy==1.22.0
plotly==1.4.4
pyparsing==2.0.3
python-dateutil==2.2
pytz==2014.9
requests==2.4.3
scikit-learn==0.15.2
scipy==0.14.0
six==1.8.0
sumy==0.3.0
textblob==0.9.0
wsgiref==0.1.2
